*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.back{
  background-image: url("../img/bg-header1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.container{
  height: auto;
  margin:0 auto;
}
.logo{
  margin: center;
  width: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.nav li{
  padding-left: 0%;
  margin: 0 auto;
}
.nav a{
  text-decoration: none;
  color: white;
  display: inline;
  padding-left: 0%;
  padding: 0 1%;
}

.main{
  background-color: #999374;
  width: 100%;
}

.navigation{
  width: 100%;
  display: flex;
  flex : 0 1 auto;
}

.nav{
  width: 50%;
  font-size: 80%;
  margin: auto;
  text-align: left;
}
.reseau{
  width: 50%;
  font-size: 80%;
  text-align: right;
}
.reseau a{
font-size: 130%;
color:white;
padding-top: 2%;
padding-left: 5%;

}
.main-container{
  display: flex;
  padding-top: 2%;
  flex-direction: column;
}

.paragraphe{
  text-align: justify;
  font-size:14px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 2%;
  text-align: justify;
}
p{
  text-align: justify;
  font-size:14px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 2%;
  text-align: justify;
}

h2{
  font-size:100%;
  width: 70%;
  padding-left: 5%;
  padding-bottom: 2%;
  color:#999374;
}
.tofhome{
  max-width: 100%;
  border: 4px solid #999374;
  box-sizing: content-box;

}

.bouton{
color: white;
background-color:#999374;
cursor:pointer;
display: inline-block;
padding: 6px 15px 6px 15px;
border-radius: 5%;
margin: auto;
text-decoration: none;
}
.bout li {

  padding: 2% 5% 0 0;
}

.bout{
  padding-top: 5%;
  padding-bottom: 5%;
}

.parallax {
  width: 100%;
  height: 150px;
  background-image: url('../img/bg-home.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  background-color: #999374;
}
.foot-container{
  display: flex;
  padding-bottom: 3%;
  padding-top: 3%;
  background-size: 25%;
  background-position: right;
  background-repeat: no-repeat;
}

.listeinf a{
  text-decoration: none;
  color: white;
  padding-top: 3%;
}

.listeinf a:hover{
  text-decoration: underline;
}

.listemen a:hover{
  text-decoration: underline;
}
.listeinf{
  width: 50%;
}
.listemen{
  width: 50%;
}
.listemen a{
  text-decoration: none;
  color: white;
  padding-top:  2%;
}
.listeinf a{
  text-decoration: none;
  color: white;
  padding: 2%
}
.texte{
  color: white;
}
.menu li{
  padding: 1%;
}
.titrephoto{
  font-size: 17px;
  margin-left: 10px;
}

.message{
padding-left: 5%;
font-size: 70%;
}

.adresse{
padding-left: 5%;
}


@media screen and (min-width: 450px) {
  .container{
    width:420px;
    }

  .bout li {
    display: inline;
    padding: 2% 5% 0 0;
  }
  .back{
    width: 100%;
    height: auto;
    background-image: url("../img/bg-header.jpg");
    background-size: cover;
    background-position:center;
  }
  .nav li{
    display: inline;
    font-size: 100%;
  }
  h2{
    font-size:120%;
    width: 70%;
    padding-left: 5%;
    padding-bottom: 2%;
    color:#999374;
  }
  .paragraphe{
    padding-top: 2%;
    font-size: 100%;
  }
  .nav{
    width: 100%;
    font-size: 80%;
    margin: auto;
    text-align: left;
  }
  .reseau{
    font-size: 80%;
    width: 50%;
    text-align: right;
  }
  .reseau a{
  font-size: 100%;
  color:white;
  padding: 0 1%;
  }

  }


@media screen and (min-width: 593px) {
  .container{
    width:550px;
    }

  .back{
    width: 100%;
    height: auto;
    background-image: url("../img/bg-header.jpg");
    background-size: cover;
    background-position:center;
  }
  .nav li{
    display: inline;
    font-size: 100%;
  }

  .paragraphe{
    padding-top: 2%;
    font-size: 100%;
  }

  p{
    padding-top: 2%;
    font-size: 100%;
  }

  .nav{
    width: 100%;
    font-size: 100%;
    margin: auto;
    text-align: left;
  }
  .reseau{
    width: 50%;
    text-align: right;
  }
  .reseau a{
  font-size: 100%;
  color:white;
  padding: 0 1%;
  }
  .contact{
    display: flex;
  }

  .titrecontact{
    font-size: 150%;
  }
  .email a{
    color:#999374;
  }

  .adresse{
    padding-top: 5%;
    width: 30%;
  }
  .message{
    padding-left: 25%;
    padding-top: 5%;
    width: 70%;
  }

  .article1{
    width: 90%;
    padding-right: 5%;
  }
  .aside1 {
  width: 10%;
  padding-top: 5.5%;
  padding-bottom: 4%;
  }
}

@media screen and (min-width: 768px) {
  .container{
    width:730px;
    }

  .main-container{
    display: flex;
    padding-top: 2%;
    flex-direction: row;
  }

  article{
    width: 70%;
    padding-right: 5%;
  }
  aside {
    width: 30%;
    padding-top: 5.5%;
    padding-bottom: 4%;
  }
  .tofhome{
    width: 100%;
    height: auto;
    border: 4px solid #999374;
    box-sizing: content-box;
  }
  h2{
    padding-left: 0;
    width: 100%;
    font-size: 30px;
    border-bottom: 2px solid #999374;
    padding-bottom: 2%;
    color:#999374;
  }
  .parallax {
    width: 100%;
    height: 300px;
    background-image: url('../img/bg-home.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.foot-container{
  display: flex;
  padding-bottom: 3%;
  padding-top: 3%;
  background-image: url("../img/bg-footer.png");
  background-size: 25%;
  background-position: right;
  background-repeat: no-repeat;
}

.listeinf{
  width: 25%;
}
.listemen{
  width: 25%;
}
.titrephoto{
  font-size: 20px;
}

.back{
  width: 100%;
  height: auto;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position:center;
}


}

@media screen and (min-width: 992px) {
  .container{
    width:930px;
  }

  h2{
    width: 100%;
    font-size: 35px;
    margin: auto;
    border-bottom: 2px solid #999374;
    padding-bottom: 2%;
    color:#999374;
  }

  .paragraphe{
  font-size: 100%;
  }
  p{
  font-size: 100%;
  }

.parallax {
  width: 100%;
  height: 400px;
  background-image: url('../img/bg-home.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}


@media screen and (min-width: 1200px) {

  .container{
    width:1100px;
  }
  .nav li{
    display: inline;
    font-size: 150%;
  }

  .paragraphe{
    padding-top: 2%;
    font-size: 110%;
  }
  p{
    padding-top: 2%;
    font-size: 110%;
  }

  .nav{
    width: 100%;
    margin: auto;
    text-align: left;
  }
  .reseau{
    width: 50%;
    text-align: right;
  }
  .reseau a{
  color:white;
  padding: 0 1%;
  font-size: 150%;
  }

}

aside {
  padding-top: 5.5%;
  padding-bottom: 4%;
}

footer{
  background-color: #999374;
}
.foot-container{
  display: flex;
  padding-bottom: 3%;
  padding-top: 3%;
}

.texte{
  color: white;
}
.menu li{
  padding: 1%;
}

#legite{
  font-size: 150%;
  color:#999374;
  padding-bottom: 5%;
  padding-top: 5%;
}

.photoparagraphe{
  display: inline-block;
  padding-top: 2%;
  padding-left: 1%;
  padding-bottom: 7%;
}

.photopara{
  width: 33%;
  margin: -5px;
}
#lejardin{
  font-size: 150%;
  color:#999374;
  padding-bottom: 5%;
  padding-top: 5%;
}
#lepotager{
  font-size: 150%;
  color:#999374;
  padding-bottom: 5%;
  padding-top: 5%;
}

.imagegalerie img{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1%;
}

.imagegalerie img{
  width: 47%;
  padding: 1% 1% 1% 1%;
}


.email a{
  color:#999374;
}
.corrdonnees{
  color:#999374;
}

input[type=text]{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #757575;
  width: 100%;
  padding: 2%;
}

textarea{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #757575;
  width: 100%;
  padding: 2%;
}

input[type=submit]{
  background-color: #999374;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 2% 8% 2% 8%;
}
