.head_container{
  width: 100%;
  text-align: right;

}

.container{
width: 40%;
text-align: center;
position: absolute;
left: 25%;

}

aside{
  width: 30%;
  display: inline;
}


h1{
  background-color: blue;
  border: solid 2px;
  padding-top: 1%;
  padding-bottom: 1%;
}

h2{
  background-color: green;
  border: solid 1px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.article{
  border: solid 1px;
  text-align: justify;
}

.ajout{
  font-size: 150%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid 1px;
}
