/*------------------------------Header---------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.arp{
  text-shadow: 0 8px 9px, 0px -2px 1px #fff;
  background: linear-gradient(to bottom, #e6dd63 0%,#e6dd63 10%);
  border-radius: 5px;
  padding-left: 1%;

}

.nomsociete{
  width: 29%;
  font-size: 30px;
  color : #bdb435;
  position: relative;
  top: 150px; left: 37%;
  text-shadow: 0 8px 9px #e6dd63, 0px -2px 1px #fff;
  font-weight: bold;


}
.containergene{
  width: 1200px;
  margin: auto;
}

.back{
  width: 100%;
  height: auto;
  background-image: url("../img/metro.png");
  background-size: cover;
  background-position:center;
}
.logomenu{
  width: 100%;
  text-align: center;
}
.logo{
  width: 8%;
  padding-top: 2%;
}
.mainmenu{
  background-color: #505050;
  width: 100%;
}
.main-container{
  display: flex;
  padding-top: 2%;
}

/*-----------------------navigation header----------------------------------*/

.containermenu{
  height: 40px;
}

.navigation{
  width: 100%;
  display: flex;

}
.nav{
  width: 70%;
  font-size: 100%;
}

.navi{
  width: 70%;
  padding-bottom: 5%;
}
.nav li{
  display: inline;

}
.nav a{
  text-decoration: none;
  color: #a8a8a8;
  padding-left: 0%;
  padding: 0 2%;
}

.liste ul{
  padding-top: 3%;
}


.btn-2:hover {
    color: #e6dd63;
    padding: 0 2%;
    transition: all 0.3s linear;

}


.reseau{
  width: 30%;
  text-align: right;
padding-top: 1%;
}
.reseau a{
font-size: 20px;
color:#a8a8a8;
padding: 0 2%;

}
.recherche{
  padding-bottom: 5%;
  padding-right: 5%;
  text-align: right;
}

input[type=search]{
  background-color: #cccccc;
  border-radius: 5px;
  border: none;
  color: #757575;
  width: 20%;
}


/*--------------------------Main-----------------------------------------*/

.container{
  width:1200px;
  height: auto;
  margin:0 auto;
}
.container div{
  text-align: left;
}

.parallax {
  width: 100%;
  height: 250px;
  background-image: url('../img/cuisine.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*slider* main*/
.slideshow {
    width: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index:0;
    padding: 0;
    border: solid 5px;
    border-color: #757575;
    border-radius: 10px;
 }

.slideshow ul {
     /* 4 images donc 4 x 100% */
   width: 300%;
    padding:0; margin:0;
    list-style: none;
    display: flex;
    height: 80%
 }
 .slideshow li {
  width: 100%;
  margin: 0;
  padding: 0;
 }
 aside {
   width: 100%;
   text-align: center;
 }

 .vendange{
   width: 100%;
   border-radius: 10px;
 }

 .overlay-image {
  position: relative;
  width: 100%;
 }
 /* Image originale */
 .overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
 }
 /* Texte original */
 .overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #505050;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 }.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 }
 /* Apparition overlay sur passage souris */
 .overlay-image:hover .hover {
  opacity: 1;
 }
 .overlay-image .normal {
  transition: .5s ease;
 }
 .overlay-image:hover .normal {
  opacity: 0;
 }
 .overlay-image .hover {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
 }

 h2{
   width: 100%;
   font-size: 30px;
   text-align: center;
   padding: 5% 0% 5% 2%;
   color:#505050;
   text-decoration: underline;
 }

 h3{
   padding: 2% 0% 2% 2%;
   color:#505050;
   text-decoration: underline;
 }

 h4{
   padding: 5% 0% 0% 2%;
   color:#505050;
   text-decoration: underline;
 }

 .paravend{
   width: 100%;
   display: flex;
 }

 .paragraphe{
   width: 80%;
   font-size: 20px;
   text-align: justify;
   color:#505050;
   padding-bottom: 5%;
 }
 .paragraphe1{
   width: 80%;
   font-size: 18px;
   text-align: justify;
   color:#505050;
   padding-top: 5%;
   padding-bottom:3%;
 }

 .paragraphe3{
   width: 50%;
   font-size: 15px;
   text-align: justify;
   color:#505050;
   padding-left: 5%;
   padding-bottom: 5%;
 }
 .paragraphe4{
   width: 100%;
   display: flex;
   justify-content: center;
 }
 .paragraphe5{
   width: 50%;
   justify-content: center;
 }

 .paragraphe6{
   width: 60%;
   display: flex;
   justify-content: center;
 }
 .image img{
   width: 46%;
   border-radius: 10px;
 }
 .imgvendange{
   width: 30%;
   padding-left: 5%;
 }

 .imgvidegre{
   width: 40%;
   padding-left: 10%;
 }

 .imgvidegre1{
   width: 20%;
   padding-left: 10%;
 }
 .imagegalerie{
   width: 85%;
   border-radius: 10px;
   padding-top: 1%;
 }
 /*-------------------------------Quartiers page-----------------------------*/
.arti{
  width: 1200px;
}

 .imagemoul{
   display: flex;
 }

 .articlemoulin{

   padding-left: 2%;
   padding-right: 4%;
 }

 .sorti{
   display: flex;

   padding-right: 4%;
 }
 .sexodrome{
 align-items: flex-end;
 }


/*-----------------------------Actu Page----------------------------------*/
.titreactu{
  width: 100%;
  display: flex;
}


.actu{
  width: 70%;
  font-size: 120%;
  text-align: left;
  color:#505050;
}

#fete_des_vendanges{
  font-size: 150%;
  color:#505050;
  padding-bottom: 2%;
  padding-top: 2%;
}

#vide_grenier{
  font-size: 150%;
  color:#505050;
  padding-bottom: 2%;
  padding-top: 2%;
}

#sortir{
  font-size: 150%;
  color:#505050;
  padding-bottom: 2%;
  padding-top: 2%;
}

#promo {
  font-size: 150%;
  color:#505050;
  padding-bottom: 2%;
  padding-top: 2%;
}

.article_actu{
  width: 100%;

}

.article2{
width: 100%;
display: flex;
}

.description{
font-size: 120%;
width: 60%;
margin-top: 5%;
color:#505050;
}

/*-------------------------------Contact page-----------------------------------*/

.contact{
  display: flex;
}

.titrecontact{
  font-size: 150%;
}
.email a{
  color:#505050;
}

.adresse{
  padding-top: 5%;
  width: 30%;
}
.message{
  padding-left: 25%;
  padding-top: 5%;
  width: 70%;
}

.article1{
  width: 90%;
  padding-right: 5%;
}
.article{
  width: 200%;
  padding-right: 5%;
}

.coordonnes{
  color:#505050;
}

input[type=text]{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #505050;
  width: 100%;
  padding: 2%;
}

input[type=date]{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #505050;
  width: 45%;
  padding: 2%;
}

textarea{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #505050;
  width: 100%;
  padding: 2%;
}

input[type=submit]{
  background-color: #505050;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 2% 8% 2% 8%;
}


.bouton{
color: #a8a8a8;
background-color:#505050;
cursor:pointer;
display: inline-block;
padding: 6px 15px 6px 15px;
border-radius: 5%;
margin: auto;
text-decoration: none;
text-align: center;
}
.bout li {
  display: inline;
  padding: 2% 5% 0 0;
}

.bout{
  padding-top: 2%;
  padding-bottom: 2%;

}



 /*---------------------------Footer-----------------------------------------*/


 footer{
   width: 100%;
   margin: auto;
   padding-top: 2%;
 }
.foot-container{
  margin-top:  -2%;
  height: 10%;
}
 .texte{
   font-size: 20px;
   color:#a8a8a8;
   padding-left: 1%;
 }

 .navfoot{
   text-align: left;
   padding-left: 1%;
 }

 .navfoot li{
   display: inline;
   margin: 0 auto;

 }
 .navfoot a{
   text-decoration: none;
   color:#a8a8a8;
   display: inline;
   padding-left: 0%;
   padding: 0 2%;

 }

 .listeinf{
   background-color: #505050;
   width: 100%;


 }
 .navfoot a:hover{
   font-weight: bold;
 }
 .carte{
   display: flex;
   justify-content: center;
   padding-top: 3%;
 }
 .map iframe{
   align-items: center;
 }
 .imgfoot{
   width: 15%;
   height: 250px;
 }
