
.container{
  width: 1000px;
  margin: auto;
}

h1{
  width: 100%;
  height: auto;
}

.navigation{
  width: 100%;
  margin: auto;
  padding: 0.5%;
}
header{
  background: #d7e0e6;
}
.menu{
  background:#2b3842;
}

.titre{
  text-decoration: none;
  color: white;
  padding-left: 0px;
  padding-right: 2%;
}

.main{
  width: 1000px;
  display: flex;
  height: auto;
  padding-top: 2%;
  margin: auto;
  padding-bottom: 1%;
}


article{
  width: 50%;
  padding-right: 5%;
}
aside {
  width: 50%;
}
footer{
  background: #d7e0e6;
}
.contact{
  width: 1000px;
  margin: auto;
}

*{
  margin: 0;
  border: 0;

}
