*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}


/* ----------------------------Header--------------------------------------- */

header{
  background-image: url("../img/background-header1.jpg");
  background-size: 100%;
  padding-top: 5%;
}

.container-top {
  height: 90px;
}

.main-logo-container{
  margin-top: 0;
  text-align: center;
  margin-bottom: 1%;
}

.main-logo {
  width: 120px;
  height: auto;
}

nav {
  background: #136731;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.container-nav ul{
  text-decoration: none;
  list-style-type: none;
  padding:  0;
}

.container-nav li{
padding-bottom: 3%;
}

.container-nav a{
  text-decoration: none;
  color: white;
  font-size: 120%;
}

.lien:hover{
  background-color: #709700;
  transition: 0.8s;
}

/* ----------------------------Body Container Index--------------------------------- */
.container{
  width: 80%;
  margin: auto;

}

.titre{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

h3{
  font-size: 190%;
  text-align: center;
  color: #136731;
}
.Wiki{
  color: #136731;
}
.paragraphe{
  font-size:120%;
  text-align: center;
  padding-bottom: 10%;
}
.parallax {
  width: 100%;
  height: 250px;
  background-image: url('../img/tree.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
}

.bottom{
  width: 100%;
}

.imagebas{
  width: 60%;
  margin: auto;
  text-align: center;
}

.images{
  font-size: 150px;
  color: #709700;
  padding-top: 5%;
}
 .legende{
  font-weight: bold;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
 }

/* ----------------------------footer Container--------------------------------- */
.foot-container{
  background-color: #136731;
  margin-top: 50px;
}
.footer{
  width: 100%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.listeinf{
  width: 100%;
}
.listemen{
  width: 100%;
}
.menu {
  list-style-type: none;
  padding: 5%;
}

.listeinf a{
  text-decoration: none;
  color: white;
  font-size: 120%;
}
.menu li{
  padding-bottom: 3%;
}

.listemen a{
  font-size: 120%;
  text-decoration: none;
  color: white;
}
.texte{
  color: white;
  padding-left: 5%;
}

.textem{
  color: white;
  padding-left: 5%;
}

.texter{
  color: white;
  padding-left: 5%;
  font-size: 120%;
}

.resau{
  width: 100%;
}

.reseauico{
  font-size: 140%;
  color: white;
  padding-left: 5%;
}
/* ---------------------------Body Circuit Court----------------------------- */

.containerCC{
  width:100%;

}
h4{
  font-size: 150%;
  color: #136731;
  padding-top: 5%;
  padding-bottom: 5%;
}
.oignon{
  padding-top: 3%;
  
}
.paragrapheCC{
  width: 100%;
  font-size: 100%;
  padding-right: 3%;
  padding-bottom: 15%;

}

h5{
  font-size: 150%;
  color: #136731;
}

aside{
  padding-left: 2%;
  padding-top: 2%;
  width: 100%;
}
/* ---------------------------Contact--------------------------------------- */

.corrdonnees{
  color:#136731;
}
input[type=text]{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #757575;
  width: 100%;
  padding: 2%;
}

textarea{
  background-color: #cccccc;
  border-radius: 2px;
  border: none;
  color: #757575;
  width: 100%;
  padding: 2%;
}

input[type=submit]{
  background-color: #136731;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 2% 8% 2% 8%;
}
/* ---------------------------Recyclage----------------------------- */

.recyclage{
  padding-top: 3%;
  width: 100%;
}
/*------------------------Economie d'energie---------------------*/
.Energie-info{
  color: #136731;
}

@media screen and (min-width: 450px) {
  .container{
    width:420px;
    }

}
@media screen and (min-width: 593px) {
  .container{
    width:570px;
  }

  .container-top{
    height: 100%;
  }

  header{
    background-image: url("../img/background-header.jpg");
    background-size: 100% auto;
    background-size: cover;
    padding-top: 40px;
  }

  .main-logo {
    width: 200px;
    height: auto;
  }

  nav{
  height: 35px;
  padding-top: 1%;
  padding-bottom: 2%;
  }

  .container-nav ul{
    display: flex;
  }
  .container-nav li{
    display: inline;
  }

  .container-nav ul{
    justify-content: space-between;
  }

  .container-nav a{
    font-size: 100%;
  }
  .paragraphe{
    font-size:120%;
  }

  .imagebas{
    width: 60%;
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;

  }
  .images{
    font-size: 120px;
    padding-top: 5%;
  }

  .footer{
    margin: auto;
    display: flex;
    padding-bottom: 2%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .resau{
    width: 100%;
    text-align: right;
  }

  .reseauico{
    font-size: 140%;
    color: white;
    margin-left: 0;
    text-align: left;
  }

  .listeinf{
    padding-top: 2%;
  }

  .listemen{
    padding-top: 2%;
  }
  .resau{
    padding-top: 2%;
  }
/*-----------------------page recyclage--------------------------------*/
  .containerCC{
    display: flex;
    width:100%;
  }
  aside{
    padding-left: 2%;
    padding-top: 2%;
    width: 40%;
  }
  .paragrapheCC{
    border-right: solid 1px;
  }
}

@media screen and (min-width: 768px) {
  .container{
    width:730px;
    }
  .main-logo-container{
    margin-top: 0;
    text-align: center;
    padding-bottom: 100px;
  }
  .main-logo {
    width: 250px;
    height: auto;
  }
  .container-nav ul{
    width: 100%;
    justify-content: center;

  }
  .container-nav a{
    padding: 0 20px;
  }

  .footer{
    width: 80%;
  }
  .images{
    font-size: 150px;
  }

}

@media screen and (min-width: 992px) {
  .container{
    width:930px;
  }
  .main-logo {
    width: 300px;
    height: auto;
  }
  .container-nav a{
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {

  .container{
    width:1000px;
  }
  .container-nav a{
    padding: 0 70px;
  }

}
